
body{

	background-image: url("../img/bgg.png"); /* imagen de fondo */
    font-size: 11px;
    font-family: Helvetica, Arial;
}

.msg{
 
     margin-left: 18%;
    margin-top: 8px;
    position: absolute;
    color: #CA7486;
}