.struct_contact{ /* CONTENEDOR DE LOS CONTACTOS */




}


.struct_groups , .struct_contact{ /* CONTENEDOR DE LOS GRUPS */
 background: none repeat scroll 0 0 rgba(100, 100, 100, 0.2);
    border-top: 1px solid #555555;
    box-shadow: 1px 1px 1px #222222;
    height: 25px;
    margin-top: 1px;
    overflow-y: auto;
    padding: 7px;
    width: 100%;

}


.struct_left{

background: url("../../img/bg_st_left.png") repeat scroll 0 0 transparent;
    box-shadow: -3px 11px 11px #000000;
    float: left;
    height: 100%;
    overflow: hidden;
    width: 21%;
}


.struct_chat{ /* CONTENEDOR DEL CHAt */


float: right;
    height: 90%;
    margin-right: 2%;
    margin-top: 2%;
    width: 74%;



}


.struct_msg{ /* CNOTENEDOR DE DONDE ESCRIBIRMOS EL MENSAJE */

}


.struct_main{ /* CONTENEDOR PADRE */

background:url("../../img/dotp.png");
    height: 100%;
    overflow-y: auto;
    width: 100%;

}


.message_chat{
  height: 82%;
    width: 99%;
 
}




.message_chat , .struct_contact , .struct_groups , .chat_cmmt{

    padding: 13px;
overflow: hidden;
}

.chat_cmmt{
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.9) !important;

    font-family: helvetica;
    font-size: 12px;
    height: 19px;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 10px;
    resize: none;
    text-shadow: 1px 1px #333333;
    width: 97.4%;
}


.struct_msg{
 
}


/* body {

    background: url("../../img/gbu.jpg") !important;
    color: rgba(255, 255, 255, 0.7) !important;
    overflow-x:hidden; 
} */


body{
    background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: transparent !important;
    background-image: url("http://4.bp.blogspot.com/-YtrOHuHiohE/T32UVg4-doI/AAAAAAAAIb0/VOrfAAo9BXs/s1920/Winter_Morning_by_Shannon_Lucas.jpg") !important;
    background-origin: padding-box !important;
    background-repeat: repeat !important;
    background-size: 100% auto !important;
    color: rgba(255, 255, 255, 0.7) !important;
    overflow-x: hidden;
}



.struct_menu{


	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    bottom: 0;
    height: 31px;
    position: absolute;
    width: 100%;

}


/* ****************************************************************************************************** */
/* UI PARA EL CHAT DEL USUARIO */
.user_current_chat{
color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 4px;
    text-shadow: 1px 1px 0 #222222;

}
ul>:first-child{

 border-radius: 100% 100% 100% 100%;
    float: left;
    height: 46px;
    margin: 6px;
    overflow: hidden;

}

ul>:last-child{


    float: right;

}



ul>li{

margin: 5px;

}


.user_ui{
	 overflow-y: auto;
}

.chat{
height: 95%;
    overflow: hidden;
    width: 99%;
 
}

.msg_chat{

    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 3px #222222;
    color: #444444;
    float: left;
    font-size: 18px;
    margin-top: 14px;
    padding: 7px;
    position: relative;
    width: 91%;
     background: none repeat scroll 0 0 #EFF4F3;

}

.tang{
border-color: transparent #EFF4F3 transparent transparent;
    border-style: solid;
    border-width: 11px 15px 10px;
    height: 0;
    left: -29px;
    margin-top: -3px;
    position: absolute;
    width: 1px;
}

.date{
    margin-top: 2px; font-size: 11px; float: right; padding-top: 16px; color: rgb(119, 119, 119);
}